@media screen and (min-width: 500px) {
    
    main {
        max-width: 1200px;
        margin: 20px auto;
        padding: 10px;
        position: relative;
    }

    section {
        background-color: #ecf0f1;
        padding: 20px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    }

    section.data {
        width: 150px;
        position: absolute;
        top: 10%;
        left: 0;
    }
    
    section.weather {
        width: 150px;
        position: absolute;
        bottom: 10%;
        right: 0;
    }

    .weather h2::after {
        content: "🌤️";
        margin-left: 10px;
    }
    

    .weather-icon {
        display: none;
    }
    
    footer {
        background-color: rgb(190, 49, 49);
        color: white;
        padding: 10px;
        text-align: center;
    }
}

